body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('../images/gold.jpg') center/cover no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Set a minimum height for better visibility on smaller screens */
}

@media screen and (max-width: 640px) {
    .main-content {
        width: 100%;
    }

    .company__info {
        display: none;
    }
}

.main-content {
    width: 40%;
    border-radius: 14px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 100, 0.8); /* Dark blue color */
}

.company__info {
    background-color: rgba(0, 0, 100, 0.8); /* Dark blue color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 14px;
    padding: 20px;
}

@media screen and (max-width: 640px) {
	.main-content {
		width: 100%;
	}

	.company__info {
		display: none;
	}
}

@media screen and (min-width: 642px) and (max-width: 800px) {
	.main-content {
		width: 70%;
	}
}

.row > h2 {
	color: #16D5FF !important;
	text-align: center;
	font-size: 30px;
}

.login_form {
    background: url('../images/log.jpg') center/cover no-repeat; /* Replace 'your-image.jpg' with the path to your image */
   	border-radius: 14px;
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
}


form {
	text-align: center;
}

.form__input {
	width: 100%; /* Updated to 100% for full width */
    border: 1px solid #ddd;
	border-radius: 14px;
	padding: 1em;
	outline: none;
	margin: 1.5em auto;
	transition: all .5s ease;
	box-sizing: border-box;
}

.form__input:focus {
	box-shadow: 0 0 5px rgba(52, 152, 219, 0.4);
}

.btn {
	transition: all .5s ease;
	width: 50%;
	border-radius: 14px;
	color: #fff;
	font-weight: 600;
	background-color: #3498db;
	border: none;
	padding: 1em;
	margin-top: 1.5em;
	margin-bottom: 1em;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background-color: #3498db;
	color:#000;
}

p {
	color: #34495e;
	margin-top: 1em;
	text-align: center;
}

a {
	color: #3498db;
}

.reg{
	text-decoration: none;
}


.language-switch {
display: flex;
justify-content: center;
margin-top: 20px;
}

.language-switch button {
background-color: #3498db;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
margin: 0 10px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.language-switch button:hover {
background-color: #3498db;
color: #000;
}

.corporate-images {
text-align: center;
}

/* Style for Binance logo */
.corporate-images img:nth-child(1) {
width: 130px;
height: auto;
margin-right: 10px;
}

/* Style for Bybit logo */
.corporate-images img:nth-child(2) {
width: 130px;
height: auto;
}
@media only screen and (max-width: 600px) {
.container {
border-radius: 15px; /* Adjusted for smaller screens */
}

.container button {
font-size: 10px; /* Adjusted font size for smaller screens */
}
}

/* For iPad/Tablet Devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
/* Additional styles for iPad/Tablet devices */
}

/* For Desktop Devices */
@media only screen and (min-width: 1025px) {
/* Additional styles for desktop devices */
}

.error-container {
	background-color: #ffcccc;
	color: #cc0000;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.inform {
    font-size: 15px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e1e9f1; 
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.code {
    font-size: 16px;
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease;
}

.code:focus {
    border-color: #3498db; /* Change border color on focus */
}
	
.alert {
    display: none;
    color: #fff;
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
