/* wallet.css */

/* Reset some default styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main wallet section styling */
.wallet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../img/back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wallet-container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.wallet-info {
  text-align: center;
}

.wallet-btn {
  margin-bottom: 20px;
  padding: 12px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.wallet-btn:hover {
  background-color: #45a049;
}

/* Wallet content styling */
.wallet-content {
  width: 100%;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: #777;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 12px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

/* Additional styling for wallet info section */
.wallet-info {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.wallet-info h2 {
  margin-bottom: 20px;
  color: #333;
}

.wallet-info p {
  color: #555;
}

.wallet-info strong {
  color: #4CAF50;
}

.text-success {
  color: #28a745;
}

/* Dropdown styling */
#withdrawalAddressSelect {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 60%;
  font-size: 18px;
  cursor: pointer;
}

#withdrawalAddressSelect::after {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
}

#withdrawalAddressSelect option {
  padding: 15px;
  font-size: 18px;
}

#withdrawalAddressSelect option:checked {
  background-color: #4CAF50;
  color: #fff;
}
